In [1]:
import yfinance as yf
import pandas_datareader.data as pdr
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
yf.pdr_override()

start_date = '18-04-2020'
end_date = '11-07-2021'

start = datetime.strptime(start_date, '%d-%m-%Y')
end = datetime.strptime(end_date, '%d-%m-%Y')

tickers = ['SSNC', '^GSPC']

data = yf.download(tickers, start=start, end=end)['Adj Close']

[*********************100%***********************]  2 of 2 completed

In [3]:
data.head()

                 SSNC        ^GSPC
Date
2020-04-20  50.635330  2823.159912
2020-04-21  49.537361  2736.560059
2020-04-22  50.506741  2799.310059
2020-04-23  50.031944  2797.800049
2020-04-24  50.655113  2836.739990

In [4]:
var = data['SSNC'].var() 
var

43.67314998181225

In [5]:
var_a = data['SSNC'].var() * 250
var_a

10918.287495453063

In [6]:
corr_matrix = data.corr()
corr_matrix

           SSNC     ^GSPC
SSNC   1.000000  0.941839
^GSPC  0.941839  1.000000